* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Concert One', cursive;
}

.paragraph {
    text-align: center;
    font-family: cursive;
    margin-bottom: 20px;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 290px;
    border: none;
}

.border {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    padding: 10px;
    justify-content: center;
}

.firstBorder {
    border-radius: 25px;
    padding: 20px;
    border: 10px rgb(255, 228, 181);
    background-color: rgb(255, 228, 181);
    margin: 20px;
    width: 290px;
}

.secondBorder {
    background-color: rgb(135, 206, 235);
    border: 10px rgb(135, 206, 235);
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 290px;
}

.thirdBorder {
    background-color: pink;
    border: 10px pink;
    width: 290px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.fourthBorder {
    background-color: rgb(255, 182, 193);
    border: 10px rgb(255, 182, 193);
    width: 290px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.fifthBorder {
    background-color: wheat;
    border: 10px wheat;
    width: 290px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.lastBorder {
    background-color: rgb(135, 206, 235);
    border: 10px rgb(135, 206, 235);
    width: 290px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

h2 {
    font-family: 'Concert One', cursive;
    margin-bottom: 15px;
}

.faqContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, minmax(200px, auto));
}

.faqOne,
.faqTwo,
.faqThree,
.faqFour,
.faqFive {
    display: inline-block;
    text-decoration: none;
    background: whitesmoke;
    padding: 5px;
    width: 40%;
    outline: black 2px solid;
    margin-bottom: 20px;
    height: auto;
}

footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    background-color: black;
    padding: 65px 5;
    text-decoration: none;
}

.container {
    padding: 16px;
    padding-top: 25px;
    background-color: black;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header {
    font-size: 20px;
    color: azure;
    padding-block: 16px;
    font-family: cursive;
}

footer a {
    display: block;
    display: block 16px;
    color: white;
    text-decoration: none;
}

footer input {
    border-style: solid;
    line-height: 10px;
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    border-width: 2px;
    border-radius: 8px;
    margin-block: 8ppx;
}

footer input[type=submit] {
    background-color: #FFDAB9;
}